
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body{
	
	font-family: 'Open Sans', sans-serif;
	background: white;
}
.contenedor{

	padding: 60px 0px;
	width: 90%;
	max-width: 1000px;
	margin:auto;
	overflow: hidden;
}
.titulo{
	color: #19a056;
	font-size: 20px;
	text-align:center; 
	margin-bottom: 60px;
}

.titulo-final{
	color: #31db86;
	font-size: 20px;
	text-align:left; 
	margin-bottom: 60px;
}
/*Header*/

header{
	width: 100%;
	height: 600px;
	background: #35cc5a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,rgba(6, 249, 18, 0.671),rgba(78, 188, 96, 0.664)),url(../img/bebidas1.jpg););  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(30,85%,50%,0.671),hsla(317,45%,52%,0.664)),url(../img/maizal.jpg);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover; 
        background-attachment:fixed; 
        background-size: cover;
        background-attachment: fixed;
        position: relative;
}

nav{
	text-align: left;
	padding: 30px 50px 0 0;
}

nav > a{
	color: white;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px;
}

nav > a:hover {
	color: #448000;
	font-weight: 300;
	text-decoration: underline;
	margin-right: 10px;
}

header .textos-header {
	display:flex;
        height:430px;
        width:100%;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        text-align:center;

}
.textos-header h1 {
	font-size: 50px;
         color:#1b9b65;
}

.textos-header h2 {
	font-size: 30px;
        font-weight:300;
        color:#03c003;

}

.titulo {
	font-size: 30px;
        font-weight:300;
        color:#1a4b14;

}

.contenedor-sobre-nosotros {
	
         display:flex;
         justify-content:space-evenly;

}

.imagen-about-us {
	
         width:48%;
         
}
.sobre-nosotros .contenido-textos {
	
         width:48%;
         

}
.contenido-textos h3 {
	
        margin-bottom:15px;         

}

.contenido-textos h3 span {
	
        background:#4d0686;
        color:#fff;
        border-radius:50%;
        display:inline-block;
        text-align:center;
        width:30px;
        height:30px;
        padding:2px;
        box-shadow:0 0 6px 0 rgba(0,0,0,.5);
        margin-right:5px;      

}

.contenido-textos p {	
        
        padding:0px 0px 30px 15px;     
        font-weight: 100;  
        text-align: justify;      

}

.wave {
	position:absolute;
        bottom:0;
        width:100%;

}

/*Galeria*/
.portafolio{
	background:#f2f2f2 ;

}

.galeria-port{
	display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}

.imagen-port{
	width: 24%;
        margin-bottom: 10px;
        height: 150px;
        overflow: hidden;
        position: relative;
        cursor:pointer;
        box-shadow: 0 0 6px 0 rgba(238, 241, 4, 0.603);
}

.imagen-port > img{
	width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
}

.hover-galeria{
	position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        transform: scale(0);
        background: rgba(14, 141, 109, 0.7);
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.hover-galeria img {
	
        width: 50px;

}


.hover-galeria p {
	
       color: white;

}

.imagen-port:hover .hover-galeria{

	transform: scale(1);
}
        
        /*Clientes*/

 
 .cards  {

         background: #06864a;
         display: inline-block;
         width: 46%;
         height:200px ;
         align-items: center;
         justify-content: space-evenly;
         border-radius:5px ;
         box-shadow: 0 0 6px 0 green;
 
 }       

 .cards  .card img {
        width: 100px;
        height:100px ;
        object-fit: cover;
        border-radius:50% ;
        display: block;
        
}       

.cards  .card > contenido-texto-card {
        width: 60%;
        color:white;       
        
}       

.cards  .card  > .contenido-texto-card p {
        font-weight: 300;
        padding-top: 5px;       
        
}       

.abaut-service{
       background: white;
       padding-top: 30px;      
        
}      

.servicio-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;         
 }      

 .servicio-ind{
       width: 38%;
       text-align: center;
         
 }      

 .servicio-ind h3{
        margin: 10px 0;
                  
  }      

  .servicio-ind p{
        font-weight: 300;
        text-align: center;
                  
  }      

  /*footer*/

  footer{
      background:#bdb0b0 ;
      padding: 60px 0 30px 0; 
      margin: auto;   
      overflow: hidden;       
  }      

  .contenedor-footer{
          display: flex;
          width:90% ;
          justify-content: space-evenly;
          margin: auto;
          padding-bottom: 50px;
          border-bottom: 1px solid grey;
             
   }  
   
   .content-foo{
           text-align: center;        
           
 }      

 .content-foo h3{
        color: white;   
        border-bottom:3px solid #4d0686;   
        padding-bottom: 5px;
        margin-bottom: 10px; 
        
}      

.content-foo p{
        color: grey;           
}      

.titulo-final {
     text-align: center;
     font-size: 20px;
     margin: 20px 0 0 0;
     color: #9e9797;
        
}      


/*-------Social Media------*/
.social {
	/*position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	/*left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display:inline-flex; 
		color:#fff;
		background: rgb(193, 196, 34);
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}

	.social ul li .icon-pinterest {background: #ae181f;}

	.social ul li .icon-mail {background: #666666;}

	.social ul li a:hover {
		background: rgb(235, 212, 11); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}